<form>
  <h1>Client registration Form</h1>
  <div class="form-group">
    <label for="formGroupLastName">Last Name</label>
    <input type="text" class="form-control" id="formGroupLastName" placeholder="Last Name">
  </div>
  <div class="form-group">
    <label for="formGroupFirstName">First Name</label>
    <input type="text" class="form-control" id="formGroupFirstNam" placeholder="First Name">
  </div>
  <div class="form-group">
    <label for="formGroupEmail">Email</label>
    <input type="text" class="form-control" id="formGroupEmail" placeholder="Email">
  </div>
   <div class="form-group">
    <label for="formGroupPhone">Phone</label>
    <input type="text" class="form-control" id="formGroupPhone" placeholder="Phone">
  </div>
  <a href="#" class="btn btn-success btn-lg">

Submit</a>
</form>